
.afterpay-checkout-pbi {
    margin-bottom: 40px;
    padding-left: 200px;

    ul {
        list-style-type: none;
        margin:  20px 0;
        padding-left: 0;

    }

    li {
        margin-top: 15px;

        &:last-child {
            padding-left: 20px;
        }

        img {
            padding-right: 9px;
        }
    }
}

.payment-image{
	height: 18px;
    width: 97px;
    padding: 0 0 4px 0;
}

.cart-afterpay-message{
	border: 1px solid #efefef;
    display: inline-block;
    padding: 5px 10px;
}
.learn-more{
    padding-bottom: 50px;
}    

.cart-afterpay-message{
	    float: right;
}

.product-detail {
    .product-afterpay-message {
        .afterpay-link {
            border: 1px solid $white-smoke;
            display: inline-block;
            padding: 5px 10px;
        }
    }
}

.afterpay-link a {
  color: #1a0dab;
  cursor: pointer;
  padding-left: 10px;
  font-size: 14px;
   }
  
.terms-content {
  padding-left: 46px;
  color: #878787;
  font-size: 15px; }
      
.copy-rights {
    text-align: center; }

.afterpay-modal{
 	width : 780px;
 	height: 600px;
 } 

 .product-afterpay-message {
    a,
    .afterpay-link {
        color:  $nobel;
    }

    .afterpay-image {
        height: 15px;
        vertical-align: middle;
        width: 70px;
    }
}
 
.loader-image{
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 101;
	background: 50% 50% no-repeat white;
	opacity: .8;
	background: url('../images/Loading_icon.gif') 50% 50% no-repeat rgb(255, 255, 255);
}

.redirect-text{
	padding: 80px 36px 80px 100px;
	font-size: 23px;
	font-style: italic;
	margin: 0 auto;
	float: right;
}

.notify-message{
	padding-left: 122px;
} 